.body {
    
}

.header {
box-sizing: border-box;
position: absolute;
width: 1440px;
height: 72px;
left: 0px;
top: 0px;
background: #FFFFFF;
border-bottom: 1px solid #E7E9FC;
}

.header-nav {
}

.header-logo {
}

.header-nav-list {
}

.header-nav-link {
}

.adress {
}

.adress-list {
}
.adress-mail {

}

.adress-tel {
}

.main {
}

.filters {
}

.filters-list {
}

.filters-item {
}

.row-1 {
}

.row1-list {
}

.row1-link {
}

.row1-img {
}

.row2-list {
}

.row2-link {
}

.row2-img {
}

.row3-list {
}

.row3-link {

}

.row3-img {
}

.footer {
}